aiohttp
faiss-cpu
joblib
langchain-classic
langchain-community
langchain-core
langchain-groq
mapbox-vector-tile
matplotlib
numpy
pandas
pillow
plotly
requests
scikit-learn
seaborn
sentence-transformers
shap
shapely
streamlit
torch
tqdm
